<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a href="/cashier">Back</a>
<h1>
    <span th:text="${account.owner}">owner</span>: <span th:text="${account.credits}">10</span> credits
</h1>

<form action="/cashier" method="post">
    <input type="hidden" name="id" th:value="${account.id}">
    <input type="hidden" name="owner" th:value="${account.owner}">

    <input type="text" th:name="'transactions[' + ${account.transactions.size()} + '].credits'">
    <input type="hidden" th:name="'transactions[' + ${account.transactions.size()} + '].description'" value="top up">

    <input type="submit" value="Top up">

    <div th:each="transaction, stat : ${account.transactions}">
        <input type="hidden"
               th:name="|transactions[${stat.index}].productId|"
               th:value="${transaction.productId}"/>
        <input type="hidden"
               th:name="|transactions[${stat.index}].description|"
               th:value="${transaction.description}"/>
        <input type="hidden"
               th:name="|transactions[${stat.index}].credits|"
               th:value="${transaction.credits}"/>
    </div>

    <ul>
        <li th:each="transaction, stat : ${account.orders}">
            <input type="hidden"
                   th:name="|orders[${stat.index}].description|"
                   th:value="${transaction.description}" />
            <input type="hidden"
                   th:name="|orders[${stat.index}].credits|"
                   th:value="${transaction.credits}" />
        </li>
    </ul>

</form>
</body>
</html>


